<!doctype html>
<html lang="en">
  <head>
    <title>Patch-Notes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/patch_notes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.11.0/lottie.min.js" integrity="sha512-XCthc/WzPfa+oa49Z3TI6MUK/zlqd67KwyRL9/R19z6uMqBNuv8iEnJ8FWHUFAjC6srr8w3FMZA91Tfn60T/9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="../static/js/home.js"></script> -->
  </head>
  <body>
    <header>
        <img src="../static/img/Toss_Symbol_Primary.png" alt="" id="logo">
        <hr class="nav-divide">
    </header>
    <main>
      <div class="content-block">
        <div class="major-headings">
            <p class="version">작성규칙</p>
            <p class="date">2023.04.23</p>
        </div>
        <hr class="content-block-divide">
        <ul class="patch-list">
            <li class="patch-list-content">첫번째 자리: 기능이 추가되었을 때,<br>패치노트 이외의 페이지가 추가되었을 때,<br>환경구성이 바뀌었을 때</li>
            <li class="patch-list-content">두번째 자리: 패치노트가 만들어지고, 버그를 잡았을 때</li>
            <li class="patch-list-content">세번째 자리: 오타 수정 및 별거 아닌 수정사항들</li>
            <li class="patch-list-content">숫자 카운트는 +1씩 & 윗 자리수가 바뀌면 현재 자리는 0으로</li>
        </ul>
    </div>
      <div class="content-block">
          <div class="major-headings">
              <p class="version">v0.1.0</p>
              <p class="date">2023.04.23</p>
          </div>
          <hr class="content-block-divide">
          <ul class="patch-list">
              <li class="patch-list-content">패치노트 추가</li>
          </ul>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>