<!doctype html>
<html lang="en">
  <head>
    <title>Patch-Notes</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/patch_notes.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.11.0/lottie.min.js" integrity="sha512-XCthc/WzPfa+oa49Z3TI6MUK/zlqd67KwyRL9/R19z6uMqBNuv8iEnJ8FWHUFAjC6srr8w3FMZA91Tfn60T/9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="../static/js/home.js"></script> -->
  </head>
  <body>
    <header>
        <img src="../static/img/Toss_Symbol_Primary.png" alt="" id="logo">
        <hr class="nav-divide">
    </header>
    <main>
        <div class="content-block">
            <div class="major-headings">
                <p class="version">v1.0.3</p>
                <p class="date">2023.04.22</p>
            </div>
            <hr class="content-block-divide">
            <ul class="patch-list">
                <li class="patch-list-content">Lorem ipsum dolor sit amet, consectetur</li>
                <li class="patch-list-content">Lorem ipsum dolor sit amet, consectetur</li>
                <li class="patch-list-content">Lorem ipsum dolor sit amet, consectetur</li>
            </ul>
        </div>
    </main>
    <footer>

    </footer>
  </body>
</html>