@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Roboto:wght@300&display=swap');

* {
    /* 기본여백제거 */
    margin: 0;
    padding: 0;

    /* rem 사용을 위한 폰트사이즈 지정 */
    font-size: 10px;
}

body {
    background-color: white;
    /* min-height: fit-content; */
}

/* 모바일 기기 */
@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) {}