@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Roboto:wght@300&display=swap');

* {
    /* 기본여백제거 */
    margin: 0;
    padding: 0;

    /* rem 사용을 위한 폰트사이즈 지정 */
    font-size: 10px;
}

body {
    background-color: white;
    /* min-height: fit-content; */
}

.loader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-color: #ffffff;
    z-index: 9999;
    text-align: center;

    -webkit-box-align: center; 
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; /* 수직 정렬 */
    
    -webkit-box-pack: center;
    -moz-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; /* 수평 정렬 */
    background-color: rgba(255, 255, 255, 0.8);
}

.loaded {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* background: #9D50BB;  
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  
    background: linear-gradient(to right, #6E48AA, #9D50BB);  */
}

header>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header>ul>a>li {
    list-style: none;
}

header>ul>a:link {
    color: black;
    text-decoration-line: none;
}
  
/* visited link */
header>ul>a:visited {
    color: black;
    text-decoration-line: none;
}

/* mouse over link */
header>ul>a:hover {
    color: black;
    text-shadow: -1px 0px #fdfd96, 0px 1px #fdfd96, 1px 0px #fdfd96, 0px -1px #fdfd96;
    text-decoration-line: none;
}

/* selected link */
header>ul>a:active {
    color: black;
    text-decoration-line: none;
}

footer {
    background-color: #22263f;
    padding: 2vw 0;
}

footer > div {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

footer > div:last-child > svg{
    margin: 0;
    padding: 0;
}

#pinterest_svg{
    width: 4.3vw;
}

#pinterest{
    fill: bisque;
}

#pinterest:hover{
    fill: red;
}

#kapok{
    margin: 1.5vw 3vw;
    width: 4.3vw;
}

#github_svg{
    width: 3.8vw;
}

#github{
    fill: bisque;
}

#github:hover{
    fill: rgb(125, 125, 255);
}

/* 모바일 기기 */
@media only screen and (max-width: 767px) {
    #logo {
        width: 15vw;
        margin: 0 1.5vw;
        margin-top: 0.5vh;
    }

    header ul:nth-child(2) a li {
        margin: 0 2vw;
        font-size: 1.8vw;
    }

    header ul:last-child a li {
        margin: 0 2vw;
        font-size: 1.8vw;
    }

    header {
        box-shadow: 0 4px 4px -4px black;
    }

    #animContainer{
        width: 20vw;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #logo {
        width: 12vw;
        margin: 0 1.5vw;
        margin-top: 0.5vh;
    }

    header ul:nth-child(2) a li {
        margin: 0 2vw;
        font-size: 1.2vw;
    }

    header ul:last-child a li {
        margin: 0 2vw;
        font-size: 1.2vw;
    }

    header {
        box-shadow: 0 6px 6px -6px black;
    }

    #animContainer{
        width: 15vw;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    #logo {
        width: 12vw;
        margin: 0 1.5vw;
        margin-top: 0.5vh;
    }

    header ul:nth-child(2) a li {
        margin: 0 2vw;
        font-size: 1.4vw;
    }

    header ul:last-child a li {
        margin: 0 2vw;
        font-size: 1.4vw;
    }   
    header {
        box-shadow: 0 8px 8px -8px black;
    }
    #animContainer{
        width: 10vw;
    }
  }